body {
    margin     : 0;
    font-size  : 15px;
    line-height: 1.6;
    color      : #333;
    background : url(https://i.pinimg.com/originals/50/83/bc/5083bcfdccd3c9e22f288941d6d74859.jpg) center no-repeat ;
}


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.title {
    font-family    : 'Press Start 2P', cursive;
    text-align     : center;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    margin-top     : 10%;
    padding        : 5px;
    height         : 7%;
    letter-spacing : 1px;
    width          : 49%;
    float          : left;
}

h1 {
    background-image       : url(https://data.whicdn.com/images/347489951/original.gif);
    background-size        : cover;
    color                  : transparent;
    -webkit-background-clip: text;
    text-transform         : uppercase;
    font-size              : 60px;
    margin                 : 10px 0;
}

/* styling my button */

.white-mode {
    text-decoration : none;
    padding         : 7px 10px;
    background-color: #122;
    border-radius   : 3px;
    color           : #FFF;
    transition      : .35s ease-in-out;
    position        : absolute;
    left            : 15px;
    bottom          : 15px;
    font-family     : "Montserrat";
}

.white-mode:hover {
    background-color: #FFF;
    color           : #122;
}

*,
*:before,
*:after {
    box-sizing: border-box;

}

h1,
h2,
h3,
h4 {
    margin: 0;
}




/* header */
.header {
    position        : absolute;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 1000;
    background-color: rgb(241, 67, 67);
}

.header_inner {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.header_logo {
    font-size  : 30px;
    font-weight: 700;
    color      : #fff;
}

.navv {
    font-size      : 14px;
    text-transform : uppercase;
    width          : 49%;
    float          : left;
    font-family    : 'Press Start 2P', cursive;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    margin-top     : 5%;
    padding        : 5px;
    letter-spacing : 1px;
}

.nav_link {
    display        : inline-block;
    vertical-align : top;
    margin         : 0 8px;
    color          : #fff;
    text-decoration: none;
    position       : relative;

}

.nav_link:after {
    content: "";
    display: block;
    width  : 100%;
    height : 3px;
    display: none;

    background-color: #fff;
    position        : absolute;
    top             : 100%;
    left            : 0;
    z-index         : 1;
}


.nav_link:hover:after {
    display: block;
}

.section>div {
    display: inline-block;
}

/* button */

.btn {
    display        : inline-block;
    vertical-align : top;
    padding        : 10px 15px;
    margin         : 0, auto;
    justify-content: center;
    margin-top     : 40px;
    border         : 3px solid rgb(241, 67, 67);
    font-size      : 14px;
    font-weight    : 700;
    color          : rgb(241, 67, 67);
    text-transform : uppercase;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(241, 67, 67);
    color           : white;
}