body {
    margin           : 0;
    font-size        : 15px;
    line-height      : 1.6;
    color            : #333;
    background       : url(https://i.pinimg.com/originals/01/13/a8/0113a886d1d3b5dea3c64a96a3b114a4.jpg);
    background-size  : 100%;
    background-repeat: no-repeat;
    font-family: 'Comfortaa', cursive;
}

nav {
    width : 100%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display        : block;
    text-decoration: none;
    
    color          : rgb(34, 34, 104);
    font-weight    : 800;
    text-transform : uppercase;
    margin         : 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}

nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position  : absolute;
    bottom    : 0;
    left      : 0;
    right     : 0;
    margin    : auto;
    width     : 0%;
    content   : '.';
    color     : transparent;
    background: #333;
    height    : 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

nav.fill ul li a {
    transition: all 2s;
}

/* By Dominik Biedebach @domobch */

nav.fill ul li a:after {
    text-align: left;
    content   : '.';
    margin    : 0;
    opacity   : 0;
}

nav.fill ul li a:hover {
    color  : #023f1c;
    z-index: 1;
}

nav.fill ul li a:hover:after {
    z-index          : -10;
    animation        : fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation   : fill 1s forwards;
    opacity          : 1;
}

/* Circle */
nav.circle ul li a {
    position: relative;
    overflow: hidden;
    z-index : 1;
}

/* By Dominik Biedebach @domobch */
nav.circle ul li a:after {
    display      : block;
    position     : absolute;
    margin       : 0;
    top          : 0;
    bottom       : 0;
    left         : 0;
    right        : 0;
    content      : '.';
    color        : transparent;
    width        : 1px;
    height       : 1px;
    border-radius: 50%;
    background   : transparent;
}

nav.circle ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
}

/* SHIFT */
nav.shift ul li a {
    position: relative;
    z-index : 1;
}

nav.shift ul li a:hover {
    color: #91640F;
}

nav.shift ul li a:after {
    display   : block;
    position  : absolute;
    top       : 0;
    left      : 0;
    bottom    : 0;
    right     : 0;
    margin    : auto;
    width     : 100%;
    height    : 1px;
    content   : '.';
    color     : transparent;
    background: #F1C40F;
    visibility: none;
    opacity   : 0;
    z-index   : -1;
}

nav.shift ul li a:hover:after {
    opacity   : 1;
    visibility: visible;
    height    : 100%;
}

/* By Dominik Biedebach @domobch */

/* Blend */
nav.blend ul li a {
    position     : relative;
    border-radius: 5px;
    overflow     : hidden;
    z-index      : 1;
}

nav.blend ul li a:hover {
    color: #fff;
}

nav.blend ul li a:before,
nav.blend ul li a:after {
    position  : absolute;
    width     : 0px;
    height    : 100%;
    top       : 0;
    bottom    : 0;
    background: #D35400;
    transition: all .5s;
    margin    : auto;
    content   : '.';
    color     : transparent;
    z-index   : -1;
    opacity   : 0.75;
}

nav.blend ul li a:before {
    left: 0;
}

nav.blend ul li a:after {
    right: 0;
}

nav.blend ul li a:hover:after,
nav.blend ul li a:hover:before {
    width: 100%;
}

/* DROWN */

nav.drown ul li a {
    position: relative;
    overflow: hidden;
    z-index : 1;
}

nav.drown ul li a:hover {
    color: #fff;
}

nav.drown ul li a:before {
    background: #fff;
    content   : '.';
    color     : transparent;
    position  : absolute;
    width     : 500%;
    top       : 100px;
    right     : 300px;
    height    : 300px;
    z-index   : -1;
}

nav.drown ul li a:hover:before {
    left      : auto;
    bottom    : auto;
    right     : -50%;
    top       : 0;
    background: #89C52B;
}

h1 {
    font-size: 150px;
    padding  : 20px;
}

#task {
    display        : flex;
    justify-content: center;

}
#answers{
    width: 100%;
    margin-top: -150px;
    display: flex;
    height: 250px;
    justify-content: center;
    font-size: 50px;
    color: white;
}
#fans{
    text-align: center;
    width: 24%;
    margin: 10px;
    background-color: rgba(20, 165, 158, 0.822);
}
#sans{
    text-align: center;
    margin: 10px;
    width: 24%;
    background-color: rgba(18, 167, 38, 0.822);
}
#thans{
    text-align: center;
    width: 24%;
    margin:10px;
    background-color: rgba(179, 207, 19, 0.822);
}